<div class="dx-main">
    <header class="dx-header dx-box-fullscreen dx-box-bg-light">
        <div class="dx-box-decorated-dark-bot"></div>
        <div class="bg-image bg-image-parallax">
            <img src="assets/images/header.png" class="jarallax-img" alt="" loading="lazy">
        </div>
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-sm-9 col-md-8 col-lg-6">
                    <h1>Salsa Latin Guatemala</h1>
                    <div class="dx-subtitle">Academia profesional de ritmos latinos</div>
                    <p class="mb-0 text-grey-2">Bailar es estar fuera de ti, más grande, más fuerte... 
                         por medio del baile podemos expresar y transmitir lo que sentimos siguiendo nuestra filosofia: <span class="font-weight-bold text-danger">No es lo que sabemos... sí no como lo hacemos!!!.</span></p>
                    <a href="#feedback"
                        class="dx-btn dx-btn-md dx-btn-gradient-1 dx-btn-gradient-2-hover mt-50 dx-anchor"><span>Toma tu
                            primera lección</span></a>
                </div>
            </div>
        </div>
        <a href="#feature" class="dx-icon-down dx-anchor">
            <span class="icon ion-ios-arrow-down"></span>
            <span class="icon ion-ios-arrow-down"></span>
            <span class="icon ion-ios-arrow-down"></span>
        </a>
    </header>
</div>
<div class="dx-box-1 dx-box-bg-dark dx-anchor-content" id="feature">
    <div class="container">
        <div class="row vertical-gap justify-content-center">
            <div class="col-md-6 col-lg-4">

                <div class="dx-feature dx-feature-1 dx-feature-gradient-2" data-aos=fade data-aos-duration=400>
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon ion-md-flame"></span>
                        </div>
                        <div class="dx-feature-title h5">Tecnicas profesionales</div>
                        <div class="dx-feature-text">¡Aprenderás los estilos de baile más exquisitos!</div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4">

                <div class="dx-feature dx-feature-1 dx-feature-gradient-1" data-aos=fade data-aos-duration=400
                    data-aos-delay=50>
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon ion-md-contacts"></span>
                        </div>
                        <div class="dx-feature-title h5">Los mejores instructores</div>
                        <div class="dx-feature-text">¡Serás enseñado por los mejores bailarines del guatemala!</div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4">

                <div class="dx-feature dx-feature-1 dx-feature-gradient-3" data-aos=fade data-aos-duration=400
                    data-aos-delay=100>
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon ion-md-medal"></span>
                        </div>
                        <div class="dx-feature-title h5">Baila donde quieras</div>
                        <div class="dx-feature-text">Seras el mejor en eventos sociales y competencias</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="dx-box-1" id="teachers">
    <div class="dx-box-decorated-dark-top"></div>
    <div class="container">
        <h2 class="mnt-10 text-center">Los instructores</h2>
        <div class="dx-subtitle text-center">¡Te enseñaremos el estilo de baile!</div>

        <div class="dx-swiper-teachers-arrows">
            <div class="container"></div>
        </div>
        <div class="swiper-container dx-swiper dx-swiper-teachers" data-swiper-speed="600" data-swiper-space="30"
            data-swiper-slides="1" data-swiper-thumbs="true" data-swiper-arrows="true" data-swiper-arrows-clone="true"
            data-swiper-autoHeight="true">

            <div class="swiper-wrapper">


                <div class="swiper-slide">
                    <div class="dx-teacher">
                        <div class="dx-teacher-img"><img src="assets/images/teacher-1.png" class="dx-img" alt="" loading="lazy"></div>
                        <div class="dx-teacher-cont">
                            <div class="dx-teacher-title h4">JACOBO H. FLORES</div>
                            <div class="dx-teacher-subtitle dx-subtitle">Bailarín y Coreógrafo Profesional.</div>

                            <ul class="dx-teacher-icons dx-social-links mnt-6">
                                <li>
                                    <a href="https://instagram.com/jacohsalsa" target="_blank" class="dx-social-instagram"><span
                                            class="icon ion-logo-instagram"></span></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/jacobo.flores" target="_blank" class="dx-social-facebook"><span
                                            class="icon ion-logo-facebook"></span></a>
                                </li>
                            </ul>


                            <div class="dx-teacher-text">

                                <p>Bailarín y bailador nato. Así como un maestro y coreógrafo original quien siempre busca seguir capacitándose..</p>

                                <p>Comenzó a incursionar en el baile desde el año 1998 y hasta la fecha ha recibido y sigue recibiendo clases con maestros internacionales. Tales como Felipe Polanco, Tito Ortos, Dicky Colom, Stacy López, Eddie Torres, Griselle Ponce, Fadi, entre otros.</p>
                                <p>Experto en   los ritmos de Jazz, Ballet, Hip Hop, Funk, Tap, Flamenco, Mambo, Cha cha cha, Bachata, Boogaloo, Rumba y todos los complementos de baile y técnica.</p>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="dx-teacher">
                        <div class="dx-teacher-img"><img src="assets/images/teacher-2.png" class="dx-img" alt="" loading="lazy"></div>
                        <div class="dx-teacher-cont m-w-f-70">
                            <div class="dx-teacher-title h4">GABY ERDMENGER</div>
                            <div class="dx-teacher-subtitle dx-subtitle">Bailarina e Instructora Profesional.</div>

                            <ul class="dx-teacher-icons dx-social-links mnt-6">
                                <li>
                                    <a href="https://instagram.com/gaby_salsa" target="_blank" class="dx-social-instagram"><span
                                            class="icon ion-logo-instagram"></span></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/gaby.erdmenger" target="_blank" class="dx-social-facebook"><span
                                            class="icon ion-logo-facebook"></span></a>
                                </li>
                            </ul>


                            <div class="dx-teacher-text">

                                <p>Desde los 14 años de edad iniciando a recibir clases con el gran maestro Antonio Luissi, con el cual estuvo por varios años, y participó en algunos shows de su compañía de Jazz..</p>

                                <p>Allí mismo conoció al maestro Jacobo Flores, con el que recibió su primera clase de latino y de Rueda de casino, en el año 2005. Y apasionada por este género empezó a tomar clases en SLG en donde empezó a capacitarse.
                                    Desde febrero del 2006 tuvo la oportunidad de ser la pareja de baile de Jacobo Flores, para shows y competencias. Y comenzó a entrenar con él para ser así los primero en viajar al Puerto Rico Salsa Open en ese mismo año..</p>

                            </div>

                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="dx-teacher">
                        <div class="dx-teacher-img"><img src="assets/images/teacher-3.png" class="dx-img" alt="" loading="lazy"></div>
                        <div class="dx-teacher-cont m-w-f-70">
                            <div class="dx-teacher-title h4">MARIANA CHIU</div>
                            <div class="dx-teacher-subtitle dx-subtitle">Bailarina e Instructora Profesional.</div>

                            <ul class="dx-teacher-icons dx-social-links mnt-6">
                                <li>
                                    <a href="https://instagram.com/marchiscm" target="_blank" class="dx-social-instagram"><span
                                            class="icon ion-logo-instagram"></span></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/marchis.cm" target="_blank" class="dx-social-facebook"><span
                                            class="icon ion-logo-facebook"></span></a>
                                </li>
                            </ul>


                            <div class="dx-teacher-text">

                                <p>bailarina y cantante desde muy pequeña. Iniciando en este medio desde el año 1996 en Las Pequeñas Estrellas de Canal 7 con Luis Pellecer.</p>

                                <p>Experta en los ritmos de jazz, tap, salsa cubana, salsa en línea, bachata y cha cha cha, entre otros. Comenzó a recibir clases de baile en Performing Arts en el 2008 y luego en la Escuela Cubana de Baile, donde fue instructora de salsa casino 4 años desde el 2008 y luego en el Gimnasio Internacional Cubano.</p>
                                <p>Formando parte de SLG desde el año 2013 y gracias a su esfuerzo formó parte del grupo de competidores, en la categoría Rueda de Casino donde fueron campeones 2 años consecutivos. Es maestra en SLG desde hace más de 5 años y siempre busca seguir aprendiendo y compartiendo sus conocimientos.</p>

                            </div>

                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="dx-teacher">
                        <div class="dx-teacher-img"><img src="assets/images/teacher-4.png" class="dx-img" alt="" loading="lazy"></div>
                        <div class="dx-teacher-cont">
                            <div class="dx-teacher-title h4">GABY JIMÉNEZ</div>
                            <div class="dx-teacher-subtitle dx-subtitle">Instuctora.</div>

                            <ul class="dx-teacher-icons dx-social-links mnt-6">
                                <li>
                                    <a href="https://instagram.com/gabyjzumba" target="_blank" class="dx-social-instagram"><span
                                            class="icon ion-logo-instagram"></span></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/magabyjimenez.e" target="_blank" class="dx-social-facebook"><span
                                            class="icon ion-logo-facebook"></span></a>
                                </li>
                            </ul>


                            <div class="dx-teacher-text">

                                <p>7 años de experiencia como instructora de ZUMBA, ha recibido certificaciones y ganado varios concursos de Zumba.</p>

                                <p>He tenido experiencia en diferentes empresas como Futeca Gym, Unlimited, en el Ministerio de Cultura y Deporte, entre otras.
                                    Este es su segundo año como alumna de SLG. Y forma parte del grupo de Maestros.</p>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="dx-teacher">
                        <div class="dx-teacher-img"><img src="assets/images/teacher-5.png" class="dx-img" alt="" loading="lazy"></div>
                        <div class="dx-teacher-cont m-w-f-60">
                            <div class="dx-teacher-title h4">CECILIA MORALES</div>
                            <div class="dx-teacher-subtitle dx-subtitle">Strip plastic trainer.</div>

                            <ul class="dx-teacher-icons dx-social-links mnt-6">
                                <li>
                                    <a href="https://instagram.com/ceci.mg" target="_blank" class="dx-social-instagram"><span
                                            class="icon ion-logo-instagram"></span></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/ceciliam.moralesg" target="_blank" class="dx-social-facebook"><span
                                            class="icon ion-logo-facebook"></span></a>
                                </li>
                            </ul>


                            <div class="dx-teacher-text">

                                <p>Graduada de la Escuela Nacional de Danza “Marcelle Bonge de Devaux” del Bachillerato en Danza con especialidad en Danza Contemporánea
                                    Ha recibido talleres y clases con maestros nacionales e internacionales en el área de danza contemporánea.</p>

                                <p>Actualmente forma parte del Ballet Moderno y Folklorico Nacional de Guatemala como Bailarina.</p>

                                <p>Impartió clases por 2 años en la Academia de Danza Tumbao
                                    Campeona Nacional de la primera edición de Sport City of Dance en la categoría: Solo Contemporáneo.</p>

                                <p>Empezó sus conocimientos en Salsa y Bachata desde el 2017 y actualmente está empezando su segundo año como alumna de la academia Salsa Latín Guatemala y forma parte del grupo de Maestros.</p>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="swiper-button-prev"><span class="icon ion-ios-arrow-back"></span></div>
            <div class="swiper-button-next"><span class="icon ion-ios-arrow-forward"></span></div>
        </div>
        <div class="swiper-container dx-swiper dx-swiper-teachers dx-swiper-teachers-thumb mnt-10"
            data-swiper-slides="3" data-swiper-space="30" data-swiper-breakpoints="true">
            <div class="swiper-wrapper">


                <div class="swiper-slide">
                    <div class="dx-teacher dx-teacher-sm">
                        <div class="dx-teacher-img"><img src="assets/images/teacher-1-sm.png" class="dx-img" alt="" loading="lazy">
                        </div>
                        <div class="dx-teacher-cont">
                            <div class="dx-teacher-title h6">JACOBO H. FLORES</div>
                            <div class="dx-teacher-subtitle dx-subtitle">Bailarín y Coreógrafo Profesional.</div>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="dx-teacher dx-teacher-sm">
                        <div class="dx-teacher-img"><img src="assets/images/teacher-2-sm.png" class="dx-img" alt="" loading="lazy">
                        </div>
                        <div class="dx-teacher-cont">
                            <div class="dx-teacher-title h6">GABY ERDMENGER</div>
                            <div class="dx-teacher-subtitle dx-subtitle">Bailarina e Instructora Profesional.</div>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="dx-teacher dx-teacher-sm">
                        <div class="dx-teacher-img"><img src="assets/images/teacher-3-sm.png" class="dx-img" alt="" loading="lazy">
                        </div>
                        <div class="dx-teacher-cont">
                            <div class="dx-teacher-title h6">MARIANA CHIU</div>
                            <div class="dx-teacher-subtitle dx-subtitle">Bailarina e Instructora Profesional.</div>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="dx-teacher dx-teacher-sm">
                        <div class="dx-teacher-img"><img src="assets/images/teacher-4-sm.png" class="dx-img" alt="" loading="lazy">
                        </div>
                        <div class="dx-teacher-cont">
                            <div class="dx-teacher-title h6">GABY JIMÉNEZ</div>
                            <div class="dx-teacher-subtitle dx-subtitle">Instructura.</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="dx-teacher dx-teacher-sm">
                        <div class="dx-teacher-img"><img src="assets/images/teacher-5-sm.png" class="dx-img" alt="" loading="lazy">
                        </div>
                        <div class="dx-teacher-cont">
                            <div class="dx-teacher-title h6">CECILIA MORALES</div>
                            <div class="dx-teacher-subtitle dx-subtitle">Bailarina Profesional.</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END: Slider Teachers -->

    </div>
</div>

<div class="dx-separator">
    <div class="dx-separator-circle"></div>
</div>

<div class="dx-box-1 dx-box-bg-light" id="subscriptions">
    <div class="container">
        <h2 class="mnt-10 text-center">Suscripciones</h2>
        <div class="dx-subtitle text-center">Ofertas especiales para alumnos ya suscritos!</div>

        <div class="row vertical-gap justify-content-center mnt-10">
            
            <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-duration="400">
                
                <div class="dx-feature dx-feature-2">
                    <div class="dx-feature-head dx-feature-gradient-1">
                        <div class="dx-feature-title h5">8 Horas</div>
                        <div class="dx-feature-price h5">Q. 300.00</div>
                    </div>
                    <div class="dx-feature-cont">
                        <ul class="dx-feature-list">

                            <li>Asiste a las clases en grupo.</li>
        
                            <li>En cualquier momento, según el horario de la academia.</li>
        
                            <li>Para 1 asistencia, puedes visitar varias clases en grupo.</li>
        
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-duration="400" data-aos-delay="100">
                
                <div class="dx-feature dx-feature-2">
                    <div class="dx-feature-head dx-feature-gradient-2">
                        <div class="dx-feature-title h5">Semi Ilimitado</div>
                        <div class="dx-feature-price h5">Q. 425.00</div>
                    </div>
                    <div class="dx-feature-cont">
                        <ul class="dx-feature-list">
                            
                            <li>Asiste a las clases en grupo.</li>
                            
                            <li>En cualquier momento, según el horario de la academia.</li>
                            
                            <li>Para 1 asistencia, puedes visitar varias clases en grupo.</li>
                            
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-duration="400" data-aos-delay="200">
                
                <div class="dx-feature dx-feature-2">
                    <div class="dx-feature-head dx-feature-gradient-3">
                        <div class="dx-feature-title h5">Ilimitado</div>
                        <div class="dx-feature-price h5">Q. 550.00</div>
                    </div>
                    <div class="dx-feature-cont">
                        <ul class="dx-feature-list">
                            
                            <li>Asiste a las clases en grupo.</li>
                            
                            <li>En cualquier momento, según el horario de la academia.</li>
                            
                            <li>Para 1 asistencia, puedes visitar varias clases en grupo.</li>
                            
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="dx-separator">
    <div class="dx-separator-circle"></div>
</div>

<div class="dx-box-1" id="about">
    <div class="dx-box-decorated-dark-bot"></div>
    <div class="container">
        <div class="dx-about">
            <div class="dx-about-img">
                <img src="assets/images/about.png" class="dx-img" alt="" loading="lazy">
                <div class="dx-about-img-title h5">JACOBO H. FLORES</div>
                <div class="dx-about-img-subtitle text-grey-2">Coreógrafo, Director de la escuela</div>
            </div>
            <div class="dx-about-cont">
                <h2 class="mnt-10">Sobre nosotros</h2>
                <div class="dx-subtitle mb-40">¡Elige tu estilo de baile!</div>
                <p>Somos la Primera Academia Profesional de Baile, enfocada en ritmos latinos y sus complementos, fundada desde el 27 de agosto de 2002. Nuestra sede siempre se ha encontrado en la Zona 13 de Guatemala, siempre buscando el mejor lugar para nuestros alumnos.</p>

                    <p>Con 18 años de experiencia somos la mejor opción para clases de Salsa, Bachata, Boogaloo, Pachanga, Cha cha cha, entre otros ritmos. Nuestra didáctica se ha perfeccionado con los años para poder ofrecer a nuestros alumnos un método de enseñanza que garantiza un aprendizaje tanto rápido, como divertido.</p> 
                    
                    <p>Una vez recibes tu primera clase en SLG el estrés y el aburrimiento es parte del pasado, con nuestros diferentes estilos de enseñanza la pasarás muy bien y aprenderás más de lo que te habías imaginado.</p>
                    
                    <p>Después de 18 años compartiendo con nuestros alumnos, maestros, competidores, familia SLG, cada día hacemos vivir desde casa o en nuestros salones de clases.</p>
                <div class="row vertical-gap mt-20">
                    <div class="col-auto dx-gallery-video">
                        <a href="https://youtu.be/g1dBzzOr8ro" class="dx-btn dx-btn-circle dx-btn-gradient-2 dx-btn-gradient-3-hover dx-gallery-video-item">
                            <span class="icon ion-md-play"></span>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a href="#feedback" class="dx-btn dx-btn-md dx-btn-gradient-1 dx-btn-gradient-3-hover dx-anchor">
                            <span>Contactanos</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="dx-box-1 dx-box-bg-dark" id="reviews">
    
    <div class="container">
        <h2 class="mnt-10 text-center" style="color: white;">Nuestros Horarios</h2>
        <div class="row vertical-gap justify-content-center">
            <div class="col-md-6 col-lg-4">
                
                <div class="dx-feature dx-feature-1 dx-feature-gradient-2" data-aos=fade data-aos-duration=400>
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon ion-md-calendar"></span>
                        </div>
                        <div class="dx-feature-title h5">Lunes Sede Zona 2</div>
                        <ul class="dx-feature-list">

                            <li>18:00 a 19:00.</li>
        
                            <li>19:00 a 20:00.</li>
        
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4">

                <div class="dx-feature dx-feature-1 dx-feature-gradient-1" data-aos=fade data-aos-duration=400
                    data-aos-delay=50>
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon ion-md-calendar"></span>
                        </div>
                        <div class="dx-feature-title h5">Martes Sede Zona 14</div>
                        <ul class="dx-feature-list">

                            <li>19:00 a 20:00.</li>
        
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4">

                <div class="dx-feature dx-feature-1 dx-feature-gradient-3" data-aos=fade data-aos-duration=400
                    data-aos-delay=100>
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon ion-md-calendar"></span>
                        </div>
                        <div class="dx-feature-title h5">Miercoles Sede Zona 2</div>
                        <ul class="dx-feature-list">

                            <li>18:00 a 19:00.</li>
        
                            <li>19:00 a 20:00.</li>
        
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4">

                <div class="dx-feature dx-feature-1 dx-feature-gradient-3" data-aos=fade data-aos-duration=400
                    data-aos-delay=100>
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon ion-md-calendar"></span>
                        </div>
                        <div class="dx-feature-title h5">Miercoles Sede Zona 2</div>
                        <ul class="dx-feature-list">

                            <li>18:00 a 19:00.</li>
        
                            <li>19:00 a 20:00.</li>
        
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4">

                <div class="dx-feature dx-feature-1 dx-feature-gradient-3" data-aos=fade data-aos-duration=400
                    data-aos-delay=100>
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon ion-md-calendar"></span>
                        </div>
                        <div class="dx-feature-title h5">Miercoles Sede Zona 2</div>
                        <ul class="dx-feature-list">

                            <li>18:00 a 19:00.</li>
        
                            <li>19:00 a 20:00.</li>
        
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="dx-box-1" id="gallery">
    <div class="dx-box-decorated-dark-top"></div>
    <div class="dx-box-decorated-dark-bot"></div>
    <div class="container">
        <h2 class="mnt-10 text-center">Galeria</h2>
        <div class="row justify-content-center text-center">
            <div class="col-lg-9">
                <p class="mt-5 mb-0 text-3">Contamos con un grupo de maestros altamente calificados para brindarles clases tanto presenciales como virtuales, con más de 20 años de experiencia en baile, quienes se capacitan constantemente para ofrecerles el mejor método de enseñanza, pasos originales y las mejores rutinas de baile pensadas en cada grupo de alumnos.</p>
            </div>
        </div>
        <div class="row vertical-gap dx-gallery dx-isotope-grid mt-20">


            <div class="col-md-6 col-lg-4 dx-isotope-grid-item">
                <a href="assets/images/gallery-1.png" class="dx-gallery-item"><img
                        src="assets/images/gallery-1-sm.png" alt="" loading="lazy" class="dx-img"></a>
            </div>


            <div class="col-md-6 col-lg-4 dx-isotope-grid-item">
                <a href="assets/images/gallery-2.png" class="dx-gallery-item"><img
                        src="assets/images/gallery-2-sm.png" alt="" loading="lazy" class="dx-img"></a>
            </div>


            <div class="col-md-6 col-lg-4 dx-isotope-grid-item">
                <a href="assets/images/gallery-3.png" class="dx-gallery-item"><img
                        src="assets/images/gallery-3-sm.png" alt="" loading="lazy" class="dx-img"></a>
            </div>


            <div class="col-md-6 col-lg-4 dx-isotope-grid-item">
                <a href="assets/images/gallery-4.png" class="dx-gallery-item"><img
                        src="assets/images/gallery-4-sm.png" alt="" loading="lazy" class="dx-img"></a>
            </div>


            <div class="col-md-6 col-lg-4 dx-isotope-grid-item">
                <a href="assets/images/gallery-5.png" class="dx-gallery-item"><img
                        src="assets/images/gallery-5-sm.png" alt="" loading="lazy" class="dx-img"></a>
            </div>


            <div class="col-md-6 col-lg-4 dx-isotope-grid-item">
                <a href="assets/images/gallery-6.png" class="dx-gallery-item"><img
                        src="assets/images/gallery-6-sm.png" alt="" loading="lazy" class="dx-img"></a>
            </div>

            <div class="col-md-6 col-lg-4 dx-isotope-grid-item">
                <a href="assets/images/gallery-7.png" class="dx-gallery-item"><img
                        src="assets/images/gallery-7-sm.png" alt="" loading="lazy" class="dx-img"></a>
            </div>

            <div class="col-md-6 col-lg-4 dx-isotope-grid-item">
                <a href="assets/images/gallery-8.png" class="dx-gallery-item"><img
                        src="assets/images/gallery-8-sm.png" alt="" loading="lazy" class="dx-img"></a>
            </div>

            <div class="col-md-6 col-lg-4 dx-isotope-grid-item">
                <a href="assets/images/gallery-9.png" class="dx-gallery-item"><img
                        src="assets/images/gallery-9-sm.png" alt="" loading="lazy" class="dx-img"></a>
            </div>

            <div class="col-md-6 col-lg-4 dx-isotope-grid-item">
                <a href="assets/images/gallery-10.png" class="dx-gallery-item"><img
                        src="assets/images/gallery-10-sm.png" alt="" loading="lazy" class="dx-img"></a>
            </div>
            <div class="col-md-6 col-lg-4 dx-isotope-grid-item">
                <a href="assets/images/gallery-11.png" class="dx-gallery-item"><img
                        src="assets/images/gallery-11-sm.png" alt="" loading="lazy" class="dx-img"></a>
            </div>

        </div>
    </div>
</div>

<div class="dx-box-1 dx-box-bg-dark">
    <div class="container">
        <div class="row vertical-gap justify-content-center mnt-10">

            <div class="col-md-6 col-lg-4">

                <div class="dx-feature dx-feature-3 dx-gradient-1 dx-count" data-count-speed="2000"
                    data-aos=fade data-aos-duration=400>
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon ion-md-school"></span>
                        </div>
                        <div class="dx-feature-title h3"><span class="dx-count-number">1000</span> +</div>
                        <div class="dx-feature-text">Alumnos</div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4">

                <div class="dx-feature dx-feature-3 dx-gradient-1 dx-count" data-count-speed="1300"
                    data-aos=fade data-aos-duration=400 data-aos-delay=50>
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon ion-md-globe"></span>
                        </div>
                        <div class="dx-feature-title h3"><span class="dx-count-number">500</span> +</div>
                        <div class="dx-feature-text">Competencias</div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4">

                <div class="dx-feature dx-feature-3 dx-gradient-1 dx-count" data-count-speed="800" data-aos=fade
                    data-aos-duration=400 data-aos-delay=100>
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon ion-md-rose"></span>
                        </div>
                        <div class="dx-feature-title h3"><span class="dx-count-number">15</span>%</div>
                        <div class="dx-feature-text">Descuento</div>
                    </div>
                </div>

            </div>
            <div class="col-lg-11 col-xl-9">
                <p class="mt-20 mnb-8 text-center text-white op-9">Nos reinventamos cada día para hacer de nuestra filosofía un hecho en cada clase, ensayo, shows y competencia.</p>
            </div>
        </div>
    </div>
</div>

<div class="dx-box-1 dx-box-bg-light" id="feedback">
    <div class="dx-box-decorated-dark-top"></div>
    <div class="container">
        <form action="#" class="dx-form">
            <div class="row vertical-gap">
                <div class="col-lg-4">
                    <label for="yourName">Tu nombre:</label>
                    <input class="form-control" id="yourName" type="text" name="" value="" placeholder="Jane">
                </div>
                <div class="col-lg-4">
                    <label for="yourEmail">Tu correo:</label>
                    <input class="form-control" id="yourEmail" type="text" name="" value=""
                        placeholder="Info@example.com">
                </div>
                <div class="col-lg-4">
                    <label for="yourPhone">Tu telefono:</label>
                    <input class="form-control" id="yourPhone" type="text" name="" value=""
                        placeholder="+55 987 654 302">
                </div>
                <div class="col-lg-12">
                    <label for="yourText">Env&iacute;anos tu consulta:</label>
                    <textarea class="form-control" id="yourText" name="name" rows="8" cols="80"
                        placeholder="Text"></textarea>
                </div>
                <div class="col-lg-12">
                    <button class="dx-btn dx-btn-md dx-btn-gradient-1 dx-btn-gradient-2-hover" type="button"
                        name="button"><span>Env&iacute;ar</span></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="dx-box">
    <div id='map'></div>
</div>

<div class="dx-box-2 dx-box-bg-light" id="contacts">
    <div class="container">
        <div class="row justify-content-between vertical-gap">
            <div class="col-sm-auto col-md-12 col-lg-auto">
                <a href="index.html" class="dx-logo d-md-flex d-lg-inline-flex">
                    <img src="assets/images/logo.svg" alt="" loading="lazy">
                    <div class="h3 mb-0">Salsa Latin Guatemala</div>
                </a>
            </div>
            <div class="text-justify">
                <strong>Direcciones:</strong>
                <ul>
                    <li>
                        <strong>Sede zona 2:</strong>Ave. Elena “B” 2-36 zona 2, Colonia El Sauce
                    </li>
                    <li>
                        <strong>Sede zona 14:</strong>10ma. Avenida 10-50 zona 14. Plaza Futeca, Local 21. Interior Futeca Gym
                    </li>
                    <li>
                        <strong>Sede zona 4:</strong>Ruta 1 3-81 4 grados norte 3er nivel zona 4 (Interior Step One Studio)
                    </li>
                </ul>
                <p class="mnb-10 text-1"><strong>Telefono:</strong> <a href="tel:+50242172567">+502 4217 2567</a></p>
            </div>
            <div class="text-justify" style="padding-top: 10%;">
                <p class="text-1 mnt-7"><strong>Correo electr&oacute;nico:</strong> <br/> <a href="mailto:infosalsalatinguatemala@gmail.com">infosalsalatinguatemala@gmail.com</a></p>
            </div>
        </div>
    </div>
</div>

<!-- START: Footer -->
<footer class="dx-footer dx-box-2 text-center" style="background-color: #202020">
    <div class="dx-box-decorated-light-top"></div>
    <div class="container mnt-6 mnb-8">
        <ul class="dx-social-links dx-social-links-white dx-footer-icons">
            <li><a href="https://www.facebook.com/Salsa-Latin-Guatemala-178268719078/" target="_blank" class="dx-social-facebook"><span class="icon ion-logo-facebook"></span></a></li>
            <li><a href="https://instagram.com/salsalatinguatemala?utm_medium=copy_link" target="_blank" class="dx-social-instagram"><span class="icon ion-logo-instagram"></span></a></li>
        </ul>
        <p class="mb-0 text-white op-5">© {{ currentYear }} Salsa Latin Guatemala. Todos los derechos reservados.</p>
    </div>
</footer>
<!-- END: Footer -->