<nav #navbar class="dx-navbar dx-navbar-sticky dx-navbar-transparent dx-navbar-lg-side">
    <div class="container">
        <div class="dx-nav-content">

            <a href="index.html" class="dx-nav-logo">
                <img src="assets/images/logo.svg" alt="" style="height: 7vh; width: 15vh;">
            </a>

            <ul class="dx-nav dx-nav-align-right">

                <li>
                    <a href="#teachers" class="nav-link dx-anchor">
                        Los instructores
                    </a>
                </li>
                <li>
                    <a href="#subscriptions" class="nav-link dx-anchor">
                        Suscripciones
                    </a>
                </li>
                <li>
                    <a href="#about" class="nav-link dx-anchor">
                        Acerca de nosotros
                    </a>
                </li>
                <li>
                    <a href="#gallery" class="nav-link dx-anchor">
                        Galeria
                    </a>
                </li>
                <li>
                    <a href="#feedback" class="nav-link dx-anchor">
                        Contacto
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="dx-navbar dx-navbar-side">
    <div class="container">
        <div class="d-block"></div>
        <div class="dx-nav-content">

        </div>
        <ul class="dx-social-links dx-social-links-white text-center">
            <li><a href="#" class="dx-social-googleplus"><span class="icon ion-logo-googleplus"></span></a></li>
            <li><a href="#" class="dx-social-facebook"><span class="icon ion-logo-facebook"></span></a></li>
            <li><a href="#" class="dx-social-twitter"><span class="icon ion-logo-twitter"></span></a></li>
            <li><a href="#" class="dx-social-instagram"><span class="icon ion-logo-instagram"></span></a></li>
        </ul>
    </div>
</div>